
   <h1 class="container head">Gallery</h1><br>

 <div class="imgs">
<ngb-carousel *ngIf="images">
	
    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[0]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid" />
		</div>
		
	</ng-template>


    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[1]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>


    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[2]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>


    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[3]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>

    
    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[4]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>

    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[5]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>

    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[6]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>

    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[7]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>

    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[8]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>

    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[9]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>

    <ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center container">
			<img [src]="images[10]" alt="Random first slide" style="height: 400px;width:800px" class="img-fluid"/>
		</div>
		
	</ng-template>
	
    
    
    
</ngb-carousel>
</div>
