<div class="container abt">
    <h1   class=" my-3">About Us</h1>
    <p> Technology has revolutionized the world and holds the key to our future. Team Pied-Pipers,a departmental coding club of master of computer applications,Siddaganga Institute of Technology,Tumkur organize various technical activities at regular intervals.This club is a platform where students with different interests such as, coding, App development, Web Designing etc. Tech enthusiasts can interact with like-minded peers and explore the world of computer science. The club is responsible for conducting various technical and non technical events for the students of Siddaganga Institute of Technology,Tumakuru.</p>

    <p> As per survey by AICTE, there is a large gap between the skill-set acquired by the students and requirements of industry. 
To bridge this gap it is essential to ensure programming competency among students is to enhance the employability skills of the students for placement in the software industry.
In this context students are required to acquire higher level programming skills to compete with the rest to be successful. With a large diversity in the domain of programming like programming paradigms, platforms and practices and much more evolutionary, there is a need to group like-minded aspirants to enhance their coding skills accordingly.


    </p>
    <h3>Objectives</h3>
    <ul>
        <li>Be a forum for interaction among students of the institute</li>
        <li>Develop creative thinking, construct knowledge and develop innovative ideas</li>
        <li>Gain technical and collaborative skills to design real-life projects</li>
        <li>Advance the development and exchange of relevant knowledge</li>
        <li>Learn technical skills to create designs and solve real-life situations. It provides help in their curriculum
        </li>
    </ul>

</div>