<div class="home container">
  <div class="container-fluid landing">
    
    <h1 id="quote">Technology is best when it brings people together.</h1>

  </div>

  <div class="container phrase my-3 py-3">

    {{quote.quote}}
    <br>
    <br>
    <p>-{{quote.author}}</p>

  </div>
  <div class="container d-flex justify-content-right my-5">
<img [src]="img1" class="figure-img img-fluid rounded img-thumbnail d-none d-sm-none d-md-block d-lg-block d-xl-block" id="img1">

<p class="container desc mx-3 my-4">
  Team PiedPipers is a departmental coding club of Master of Computer Applications, Siddaganga Institute of Technology,Tumkur. We organize various technical activities at regular intervals. This club is a platform where Tech enthusiasts with different interests such as, coding, App development, Web Designing etc can interact with like-minded peers and explore the world of computer science. The club is responsible for conducting various technical and non technical events for the students of Siddaganga Institute of Technology, Tumakuru.

</p>
    

  </div>
  <img [src]="img1" class="figure-img img-fluid rounded img-thumbnail d-md-none d-lg-none d-xl-none d-block" id="img2">
  
    
</div>












