<div class='container mx-auto mt-5 col-md-10 mt-100'>
    <div class="header">
        <h1 class="title">Our Team</h1>
       
    </div>
    <div class="row justify-content-center pb-5">   
    <div *ngFor="let item of team">
 
        
          
     
      
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA28.jpg"> </div>
                    <div class="card-title mt-4">{{item.name}}<br /> <small>{{item.role}}</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">{{item.information}}</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
        <!--
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA19.jpg"> </div>
                    <div class="card-title mt-4">Rohan HB<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA51.jpg"> </div>
                    <div class="card-title mt-4"> Gagan BR<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA50.jpg"> </div>
                    <div class="card-title mt-4"> Karthik MD<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA04.jpg"> </div>
                    <div class="card-title mt-4"> Karthik N Shekar<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA57.jpg"> </div>
                    <div class="card-title mt-4"> Abhishek CH<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA47.jpg"> </div>
                    <div class="card-title mt-4"> Ullas Hathwar<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA49.jpg"> </div>
                    <div class="card-title mt-4"> Deepak KR<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA01.jpg"> </div>
                    <div class="card-title mt-4"> Tejas Velani<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="assets/images/4SI21MCA55.jpg"> </div>
                    <div class="card-title mt-4"> Naveen E<br /> <small>Member</small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Department of Master of Computer Applications,SIT,Tumkur </small> </p>
                    </div>
                </div>
            </div>
        </div>
   
   
   
   
   
   
    </div>
</div>
-->